{{> head}}
{{> navbar}}
<div class="row">
    <div class="col-8">
        <h1>AKU AKU</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate nesciunt illum quod est veniam quibusdam
            doloremque numquam, libero exercitationem ducimus nobis animi saepe, cumque temporibus! Voluptas veritatis
            nostrum magni soluta!Nobis quos, quasi, incidunt similique eveniet rem excepturi distinctio voluptate
            corporis dicta facilis at repellendus est suscipit sed, aliquam vero nesciunt nemo debitis voluptatum odit
            dolores officia natus? Quod, sit!</p>
    </div>
    <div class="col-4">
        <img src="assets/img/aku-aku.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer}}